.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
}

.weekNav {
	display: flex;
	align-items: center;
	gap: 35px;
	font-family: Roboto;
	color: #6b7a99;
	font-weight: 700;
	line-height: 167%;
}

.navButton {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #f5f6f7;
	color: #c3cad9;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.navButton:hover{
	border: 2px solid #d8d9dc;
	color: #a4aebe;
}

@media(max-width:500px) {
  .header {
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }
  .weekNav {
    width: 100%; 
    justify-content: space-between; 
  }
}

