.btn {
	border: 2px solid #f5f6f7;
	font-family: Roboto;
	color: #fff;
	padding: 10px 25px;
	font-weight: 700;
	border-radius: 15px;
	background: #5b5ef4;
	transition: opacity .3s;
	box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
}

.btn:hover{
	cursor: pointer;
	opacity: 0.8;
}
