.grid {
	display: grid;
	grid-template-columns: 65px repeat(7, 1fr)
}

.timeLabel  {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #adb8cc;
	font-family: Roboto;
	line-height: 167%;
}

.cell {
	min-height: 35px;
	border-top: 2px solid #f5f6f7;
}

.cell:not(:last-child){
	border-right: 2px solid #f5f6f7;
}