.gridHeader {
	height: 50px;
	border-top: 2px solid #f5f6f7;
	display: grid;
	grid-template-columns: 65px repeat(7, 1fr);
	font-family: Roboto;
	color: #6b7a99;
	line-height: 167%;
	font-weight: 700;
}

.gridHeaderMobile {
	display: none;
}

.gridHeader > :not(:last-child) {
	border-right: 2px solid #f5f6f7;
}

.dayBlock {
	display: flex;
	justify-content: center;
	align-items: center;
}

.currentDay {
	color: #83f;
}

@media(max-width:1024px) {
	.gridHeader {
		display: none;
	}

	.gridHeaderMobile {
		padding: 8px 16px;
		border-top: 2px solid #f5f6f7;
		color: #6b7a99;
		display: flex;
		gap: 5px
	}

	.mobileDayBlock {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 6px 10px;
		border: 1px solid #f5f6f7;
		border-radius: 10px;
	}

	.activeDay{
		background: rgba(136, 51, 255, 0.05);
		border: 2px solid #83f;
	}
	.mobileDayName {
		font-size: 10px;
		font-weight: 600;
	}
	.mobileDayDate {
		font-size: 16px;
		font-weight: 600;
	}
}
