.grid {
	display: grid;
	grid-template-columns: 65px repeat(7, 1fr)
}

.timeLabel  {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #6b7a99;
	font-family: Roboto;
	line-height: 167%;
	font-weight: 700;
}

.cell {
	min-height: 35px;
	border-top: 2px solid #f5f6f7;
	position: relative;
}

.cell:hover{
	cursor: pointer;
	background: #eeeeff;
	transition: .5s;
}

.cell:not(:last-child){
	border-right: 2px solid #f5f6f7;
}