.lesson {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	height: 35px;
	padding: 5px 10px; 
	border-radius: 5px;
}

.lessonLabels{
	display: flex;
	gap: 5px
}

.text{
	font-family: Roboto;
	font-weight: 500;
	font-size: 10px;
	line-height: 120%;
	color: #4d5e80;
}

.recurringColor {
	border: 2px solid #5b5ef4;
	background: #eeeeff;
}

.singleColor {
	border: 2px solid #22c97e;
	background: #e6faf2;
}

.cancelled {
	opacity: 0.6;
}

.cancelledText {
	text-decoration: line-through;
}