@import './styles/reset.css';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	background-color: #f7f8fa;
	font-family: Inter;
	font-size: 12px;
}

.wrapper {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 10px;
}

.modal-layot {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(26,26,46,.45);
	backdrop-filter: blur(3px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	color: #4d5e80;;
}